<header>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </header>
  <body class="responsive">
    
 
  <br>
  <br>
  
  
  
  
  <div class="container">
      
       <Br>
        <br>
        <h1 class="titulos"> Registro de Animal </h1>
          
       <br>
        
        <form #formularioRegistro="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" [(ngModel)]="animal.nombre" name="nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe el nombre">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Tipo</label>
            <input type="text" [(ngModel)]="animal.tipo" name="tipo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe el tipo de animal">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Edad</label>
            <input type="text" [(ngModel)]="animal.edad" name="edad" class="form-control" id="exampleInputPassword1" placeholder="Escribe la edad del animal">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nombre Científico</label>
            <input type="text" [(ngModel)]="animal.nombreCientifico" name="nombreCientifico" class="form-control" id="exampleInputPassword1" placeholder="Escribe el nombre científico del animal">
          </div>
          
          <button type="submit" class="btn btn-primary">Enviar Formulario</button>
        </form>
      
      <br>
      
      <a href="./animal"  class="btn btn-danger">Regresar</a>
  
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

  </body>

  