.actives {
    background-color: #162d4e;
    color: white;
  }
  
  
  .titulos{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    text-align: center;
    color: rgba(202, 50, 23, 0.973);
    font-style: italic;
    font-weight: bolder;
  }
  
  body{
    background-image: url("http://www.gifsyfondos.com/fondogeral.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
 
 }
  
 .responsive{
  width: 100%;
  height: auto;
 }
  
  label{
    font-family: Century;
    font-size: 20px;
    font-weight: bolder;
  }
  
  footer{
    background-color: #adadad
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(63, 80, 117, 0.993);
  }
  
  li {
    float: left;
  }
  
  li a, .boton {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .abajo:hover .boton {
    background-color: rgb(71, 115, 180);
    text-decoration: none;
    color: white;
  }
  
  li.abajo {
    display: inline-block;
  }
  
  .desplegable {
    display: none;
    position: absolute;
    background-color: #d4d4d4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .desplegable a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .desplegable a:hover {background-color: #bebebe}
  
  .abajo:hover .desplegable {
    display: block;
  }
  
  a:link { 
    text-decoration-line:none;  
  } 
  
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    .boton{
      text-align:center;
      text-decoration: none;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      display:inline-block;
      color: #FFF;
      background: #7F8C8D;
      padding: 15px 40px;
      white-space: nowrap;
      margin: 10px 5px;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }
      
  .azul{
  background: rgb(12, 94, 148);
  box-shadow: 0px 5px 0px 0px rgb(11, 62, 97);
  }
  
  .azul:hover{
  background: #39a0e5;
  }
  
  .azul:active{
  box-shadow: 0px 2px 0px 0px #2980B9;
  }
  
  .rojo{
    background: rgb(214, 35, 29);
    box-shadow: 0px 5px 0px 0px rgb(158, 60, 30);
  }
  
  .rojo:hover{
    background: #921717;
  }
  
  .rojo:active{
    box-shadow: 0px 2px 0px 0px rgb(218, 30, 30);
  }