

  
  .titulos{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;
    color: rgba(6, 110, 11, 0.993);
    font-style: italic;
    font-weight: bolder;
  }
  
  body{
    background-image: url("http://www.gifsyfondos.com/fondogeral.jpg")
  }


  


label{
  font-family: Century;
  font-size: 18px;
}

footer{
  background-color: #adadad
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

    